<!DOCTYPE html>

<html>
    <head>
        <title>TextUtils</title>
        <meta charset="utf-8">
    </head>

    <body>
        <h1>Welcome to Home page</h1>
        <h2>Enter your text below</h2>

        <form action="/analyze" method="get">
            <textarea name="text" style="width: 100%; height: 250px;"></textarea>
            <input type="checkbox" name="removepunc">Remove Punc <br>
            <input type="checkbox" name="capitalizer">Captitalize <br>
            <input type="checkbox" name="newLineRemover">New Line Remover <br>
            <input type="checkbox" name="spaceRemover">Space Remover <br>
            <input type="checkbox" name="characterCounter">Character Counter <br>
            <input type="submit">
        </form>
    </body>
</html>